
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 240 21% 15%;
    --foreground: 227 70% 87%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-base text-text font-mono;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .ascii-art {
    white-space: pre;
    line-height: 1;
    display: block;
  }
}
